<div class="color-bg">

  <div class="color-content">

    <h1>Color Quest</h1>

    <!-- LEVELS -->
    <div class="levels">

      <div class="level-item" (click)="goLevel1()">
        <div class="circle">1</div>
        <p>Learn Colors</p>
      </div>

      <div class="level-item" (click)="goLevel2()">
        <div class="circle">2</div>
        <p>Find the Color</p>
      </div>

      <div class="level-item" (click)="goLevel3()">
        <div class="circle">3</div>
        <p>Color Matching</p>
      </div>

    </div>

    <!-- LOCKED LEVELS -->
    <div class="locked">

      <div class="lock">🔒</div>
      <div class="lock">🔒</div>
      <div class="lock">🔒</div>

    </div>

  </div>

</div>